<div class="wrapper">

    <div class="wrapper2">

        <div class="header">welcome, {{ data?.name }}</div>

        <div class="card" #card>
            <div class="card-title">departmental level</div>
            <div class="card-body" *ngFor="let n of department?.details;">
                <div class="card-body-title">{{ n?.position }}</div>
                <div class="radio-group">
                    <mat-radio-group>
                        <mat-radio-button class="example-margin" *ngFor="let a of n.aspirants" [value]="a.id" (click)="add(a.id)">
                            {{ a.name }}
                        </mat-radio-button><br>
                    </mat-radio-group>
                </div>
            </div>
        </div>

        <!-- SUG LEVEL -->
        <!-- <div class="card">
            <div class="card-title">SUG level</div>
            <div class="card-body" *ngFor="let n of sug?.details;">
                <div class="card-body-title">{{ n?.position }}</div>
                <div class="radio-group">
                    <mat-radio-group>
                        <mat-radio-button class="example-margin" *ngFor="let a of n.aspirants" [value]="a.id" (click)="add(a.id)">
                            {{ a.name }}
                        </mat-radio-button><br>
                    </mat-radio-group>
                </div>
            </div>
        </div> -->
    </div>

    <div class="login_submitt_p" style="text-align: center; margin-top: 1rem;">
        <button mat-button class="update" (click)="vote()">
            <span *ngIf="!loading">Vote</span>
            <div *ngIf="loading" class="loader">
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
                <div class="bubble"></div>
            </div>
        </button>
    </div>

</div>
