<div class="sidenav">

    <img src="assets/images/bida_logo.png" [routerLink]="['/']" (click)="onPublicHeaderToggleSidenav()" class="logo" alt="">

    <div class="sidenav2">
        <button class="signup" mat-button [routerLink]="['/home']" routerlinkactive="active" (click)="onPublicHeaderToggleSidenav()">
            <span class="material-icons-round">poll</span>
            Leaderboard
        </button><br>
        <button class="signup" mat-button [routerLink]="['/capture']" routerlinkactive="active" (click)="onPublicHeaderToggleSidenav()">
            <span class="material-icons-round">app_registration</span>
            Signup
        </button><br>
        <button class="signup" mat-button [routerLink]="['/vote']" routerlinkactive="active" (click)="onPublicHeaderToggleSidenav()">
            <span class="material-icons-round">how_to_vote</span>
            Vote
        </button><br>
    </div>

    <hr>

    <div>
        <div *ngFor="let d of department;" style="text-align: left; margin-left: 15px;">
            <button mat-button [class.active]="d.id == id" (click)="changeId(d)" class="signup">{{ d?.department?.department }}
                <span *ngIf="d.start == true">
                    <span  class="material-icons started">
                        fiber_manual_record
                    </span>
                </span>
                <span *ngIf="d.start == false">
                    <span class="material-icons stop">
                    fiber_manual_record
                    </span>
                </span>
            </button>
        </div>
    </div>

</div>
