<div class="sidenav">

    <img src="assets/images/bida_logo.png" [routerLink]="['/']" (click)="onPublicHeaderToggleSidenav()" class="logo" alt="">

    <div class="sidenav2">
        <button class="signup" mat-button [routerLink]="['/home']" routerlinkactive="active" (click)="onPublicHeaderToggleSidenav()">
            <span class="material-icons-round">poll</span>
            Leaderboard
        </button><br>
        <button class="signup" mat-button [routerLink]="['/capture']" routerlinkactive="active" (click)="onPublicHeaderToggleSidenav()">
            <span class="material-icons-round">app_registration</span>
            Signup
        </button><br>
        <button class="signup" mat-button [routerLink]="['/vote']" routerlinkactive="active" (click)="onPublicHeaderToggleSidenav()">
            <span class="material-icons-round">how_to_vote</span>
            Vote
        </button><br>
    </div>

    <hr>

    <div>
        <div style="text-align: left; margin-left: 15px;">
            <button mat-button class="signup" (click)="onPublicHeaderToggleSidenav()">computer science
                <span class="material-icons started">fiber_manual_record</span>
            </button>
        </div>
        <div style="text-align: left; margin-left: 15px;">
            <button mat-button class="signup" (click)="onPublicHeaderToggleSidenav()">public admin
                <span class="material-icons stop">fiber_manual_record</span>
            </button>
        </div>
    </div>

</div>
