<div class="sidenav">

    <img src="assets/images/bida_logo.png" [routerLink]="['/']" class="logo" alt="">

    <div class="sidenav2">
        <button class="signup" mat-button>
            <span class="material-icons-round">poll</span>
            Leaderboard
        </button><br>
        <button class="signup" mat-button>
            <span class="material-icons-round">app_registration</span>
            Signup
        </button><br>
        <button class="signup" mat-button>
            <span class="material-icons-round">how_to_vote</span>
            Vote
        </button><br>
    </div>

</div>
