<div class="wrapper">

    <form #card class="card-body" novalidate [formGroup]="feedbackForm" #fform="ngForm" (ngSubmit)="onSubmit()">
        
        <div class="vote">register</div>

        <div>
            <!-- email -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input matInput formControlName="email" email required>
                <mat-error>{{formErrors.email}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- name -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Full name</mat-label>
                <input matInput formControlName="name" required>
                <mat-error>{{formErrors.name}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- matric -->
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Mat No.</mat-label>
                <input matInput formControlName="matric" required>
                <mat-error>{{formErrors.matric}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- department -->
            <mat-form-field  class="full-width" appearance="outline">
                <mat-label>Department</mat-label>
                <mat-select matInput formControlName="department" required>
                    <mat-option *ngFor="let n of department" [value]="n?.id" (click)="selectposition(n?.id)">{{ n?.department }}</mat-option>                    
                </mat-select>
                <mat-error>{{formErrors.department}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <!-- position -->
            <mat-form-field  class="full-width" appearance="outline">
                <mat-label>Aspirant Position</mat-label>
                <mat-select matInput formControlName="position">
                    <mat-option *ngFor="let n of position" [value]="n?.id">{{ n?.position }}</mat-option>
                </mat-select>
                <mat-error>{{formErrors.position}}</mat-error>
            </mat-form-field>
        </div>

        <div class="login_submitt_p">
            <button mat-button class="update" [disabled]="disabled === true">
                <span *ngIf="!loading">Save</span>
                <div *ngIf="loading" class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </button>
        </div>

    </form>

</div>