<div class="wrapper">
    <div class="card">
        <div class="left" #card2>
            <div class="left_C">
                <div *ngIf="department">
                    <div *ngFor="let d of department;">
                        <button mat-button [class.active]="d.id == id" (click)="changeId(d)" class="button">{{ limit(d?.department?.department || '') }}
                            <span *ngIf="d.start == true">
                                <span  class="material-icons started">
                                    fiber_manual_record
                                </span>
                            </span>
                            <span *ngIf="d.start == false">
                                <span class="material-icons stop">
                                fiber_manual_record
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="!department" style="display: flex; justify-content: center; align-items: center;">
                <div class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </div>
        </div>
        <div class="right" #card>
            <!-- <div style="display: flex; justify-content: center; align-items: center;">
                <button mat-button class="update">
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div> -->
            <div class="dashboard_select">
                <div class="dashboard_text">{{ currentData?.department?.department }}</div>
                <select class="form-select" placeholder="Filters">
                    <option selected>{{ htmlYear }}</option>
                    <!-- <option *ngFor="let y of year" [value]="y?.id">{{ y.year }}</option> -->
                </select>
            </div>

            <div *ngIf="currentData?.start == true">
                <div class="right-card" *ngFor="let n of currentData?.details;">
                    <div class="right-card-title">{{ n?.position }}</div>

                    <div class="chart_p">
                        <div *ngFor="let a of n.aspirants" class="chart">
                            <div>{{ a.name }} ({{ a.point }})</div>
                            <div>
                                <mat-progress-bar mode="determinate" [value]="a.point"></mat-progress-bar>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="winner">
                        <span class="material-icons-round winner-icon">emoji_events</span>
                        <div>Molly keh</div>
                    </div> -->
                </div>
            </div>

            <div class="not-yet" *ngIf="currentData?.start == false">
                voting closed!
            </div>

        </div>
    </div>
</div>
