<div class="wrapper">
    <div class="card">
        <div class="left" #card2>
            <div class="left_C">
                <div *ngIf="department">
                    <div *ngFor="let d of department;">
                        <button mat-button [class.active]="d.id == id" (click)="changeId(d.id)" class="button">{{ d?.department?.department }}
                            <span *ngIf="d.start == true">
                                <span  class="material-icons started">
                                    fiber_manual_record
                                </span>
                            </span>
                            <span *ngIf="d.start == false">
                                <span class="material-icons stop">
                                fiber_manual_record
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <div *ngIf="!department" style="display: flex; justify-content: center; align-items: center;">
                <div class="loader">
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                    <div class="bubble"></div>
                </div>
            </div>
        </div>
        <div class="right" #card>
            <!-- <div class="not-yet">
                voting ended!
            </div> -->
            <!-- <div style="display: flex; justify-content: center; align-items: center;">
                <button mat-button class="update">
                    <div *ngIf="loading" class="loader">
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                        <div class="bubble"></div>
                    </div>
                </button>
            </div> -->
            <div class="dashboard_select">
                <div class="dashboard_text">Computer science</div>
                <select class="form-select" placeholder="Filters">
                    <option selected>Year</option>
                    <option *ngFor="let y of year" [value]="y?.id">{{ y.year }}</option>
                </select>
            </div>

            <div class="right-card">
                <div class="right-card-title">President</div>

                <div class="chart">
                    <div class="myChart">
                        <div class="line" [chart]="barChart"></div>
                    </div>
                </div>
                <div class="winner">
                    <span class="material-icons-round winner-icon">emoji_events</span>
                    <div>Molly keh</div>
                </div>
            </div>
            <!--  -->
            <div class="right-card">
                <div class="right-card-title">DO social</div>

                <div class="chart">
                    <div class="myChart">
                        <div class="line" [chart]="barChart2"></div>
                    </div>
                </div>
            </div>
            <!--  -->
            <div class="right-card">
                <div class="right-card-title">DO academics</div>

                <div class="chart">
                    <div class="myChart">
                        <div class="line" [chart]="barChart3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
